openapi: 3.0.3
info:
 title: API.Rasp.Yandex.Net
 version: 3.0.0
servers:
 - url: https://api.rasp.yandex-net.ru
   description: API Яндекс.Расписаний
paths:
 /v3.0/search/:
  get:
   tags:
    - getRoutesBetweenStations
   summary: Список рейсов между двумя станциями
   operationId: getRoutesBetweenStations
   parameters:
    - name: apikey
      required: true
      in: query
      description: API key
      schema:
       type: string
    - name: from
      required: true
      in: query
      description: Код станции отправления
      schema:
       type: string
    - name: to
      required: true
      in: query
      description: Код станции прибытия
      schema:
       type: string
    - name: date
      required: false
      in: query
      description: Дата YYYY-MM-DD
      schema:
       type: string
    - name: format
      required: false
      in: query
      description: json или xml
      schema:
       type: string
    - name: lang
      required: false
      in: query
      description: lang
      schema:
       type: string
    - name: limit
      required: false
      in: query
      description: Максимальное количество результатов поиска в ответе
      schema:
       type: integer
    - name: transfers
      required: false
      in: query
      description: Признак, разрешающий добавить к результатам поиска маршруты с пересадками
      schema:
       type: boolean
   responses:
    "200":
     description: success
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/SegmentsResponse'
 /v3.0/schedule/:
  get:
   tags:
    - getStationRoute
   summary: Cписок рейсов от указанной станции
   operationId: getStationRoute
   parameters:
    - name: apikey
      required: true
      in: query
      description: Ключ доступа API key
      schema:
       type: string
    - name: station
      required: true
      in: query
      description: Код станции
      schema:
       type: string
    - name: lang
      required: false
      in: query
      description: lang ru or uk
      schema:
       type: string
    - name: format
      required: false
      in: query
      description: json или xml
      schema:
       type: string
    - name: date
      required: false
      in: query
      description: Дата, на которую требуется расписание (формат YYYY-MM-DD)
      schema:
       type: string
       nullable: true
    - name: transport_types
      required: false
      in: query
      description: Тип транспорта (plane, train, bus и т.д.)
      schema:
       type: string
    - name: event
      required: false
      in: query
      description: Событие для фильтрации (arrival/отправление)
      schema:
       type: string
    - name: direction
      required: false
      in: query
      description: Направление (например, на Москву)
      schema:
       type: string
    - name: system
      required: false
      in: query
      description: Система кодирования для параметра station
      schema:
       type: string
    - name: result_timezone
      required: false
      in: query
      description: Часовой пояс для отображения времени
      schema:
       type: string
   responses:
    "200":
     description: success
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/ScheduleResponse'
 /v3.0/thread/:
  get:
   tags:
    - getRouteStations
   summary: Список станций маршрута
   operationId: getRouteStations
   parameters:
    - name: apikey
      required: true
      in: query
      description: Ключ доступа к API
      schema:
       type: string
    - name: uid
      required: true
      in: query
      description: Идентификатор нитки в Яндекс Расписаниях
      schema:
       type: string
    - name: from
      required: false
      in: query
      description: Код станции отправления
      schema:
       type: string
    - name: to
      required: false
      in: query
      description: Код станции прибытия
      schema:
       type: string
    - name: format
      required: false
      in: query
      description: json или xml
      schema:
       type: string
    - name: lang
      required: false
      in: query
      description: ru или uk
      schema:
       type: string
    - name: date
      required: false
      in: query
      description: YYYY-MM-DD
      schema:
       type: string
       nullable: true
   responses:
    "200":
     description: success
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/ThreadStationsResponse'
 /v3.0/nearest_stations/:
  get:
   tags:
    - getNearestStations
   summary: Список ближайших станций
   operationId: getNearestStations
   parameters:
    - name: apikey
      required: true
      in: query
      description: API key
      schema:
       type: string
    - name: lat
      required: true
      in: query
      description: широта
      schema:
       type: number
    - name: lng
      required: true
      in: query
      description: долгота
      schema:
       type: number
    - name: distance
      required: true
      in: query
      description: радиус охвата
      schema:
       type: integer
    - name: format
      required: false
      in: query
      description: json или xml
      schema:
       type: string
    - name: lang
      required: false
      in: query
      description: lang
      schema:
       type: string
   responses:
    "200":
     description: success
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/StationsResponse'
 /v3.0/nearest_settlement/:
  get:
   tags:
    - getNearestCity
   summary: Ближайший город
   operationId: getNearestCity
   parameters:
    - name: apikey
      required: true
      in: query
      description: Ключ доступа к API
      schema:
       type: string
    - name: lat
      required: true
      in: query
      description: Широта
      schema:
       type: number
    - name: lng
      required: true
      in: query
      description: Долгота
      schema:
       type: number
    - name: distance
      required: false
      in: query
      description: Радиус для поиска города
      schema:
       type: integer
    - name: lang
      required: false
      in: query
      description: ru или uk
      schema:
       type: string
    - name: format
      required: false
      in: query
      description: json или xml
      schema:
       type: string
   responses:
    "200":
     description: success
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/NearestCityResponse'
 /v3.0/carrier/:
  get:
   tags:
    - getCarrierInfo
   summary: Информация о перевозчике
   operationId: getCarrierInfo
   parameters:
    - name: apikey
      required: true
      in: query
      description: Ключ доступа к API
      schema:
       type: string
    - name: code
      required: true
      in: query
      description: Код перевозчика
      schema:
       type: string
    - name: lang
      required: false
      in: query
      description: ru или uk
      schema:
       type: string
    - name: format
      required: false
      in: query
      description: json или xml
      schema:
       type: string
   responses:
    "200":
     description: success
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/CarrierResponse'
 /v3.0/stations_list/:
  get:
   tags:
    - getAllStations
   summary: Список возможных станций
   operationId: getAllStations
   parameters:
    - name: apikey
      required: true
      in: query
      description: Ключ доступа к API
      schema:
       type: string
    - name: lang
      required: false
      in: query
      description: ru или uk
      schema:
       type: string
    - name: format
      required: false
      in: query
      description: json или xml
      schema:
       type: string
   responses:
    "200":
     description: success
     content:
      text/html:
       schema:
        $ref: '#/components/schemas/AllStationsResponse'
 /v3.0/copyright/:
  get:
   tags:
    - getCopyright
   summary: Данные о Яндекс Расписаниях
   operationId: getCopyright
   parameters:
    - name: apikey
      required: true
      in: query
      description: API key
      schema:
       type: string
    - name: format
      required: false
      in: query
      description: json или xml
      schema:
       type: string
   responses:
    "200":
     description: success
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/CopyrightResponse'
components:
 schemas:
  SegmentsResponse:
   type: object
   properties:
    pagination:
     $ref: '#/components/schemas/Pagination'
    interval_segments:
     type: array
     description: Список интервальных рейсов, движение по которым идет регулярно, но без определенного расписания.
     items:
      type: object
      properties:
       from:
        $ref: '#/components/schemas/Station'
       to:
        $ref: '#/components/schemas/Station'
       thread:
        $ref: '#/components/schemas/Thread'
       has_transfers:
        type: boolean
       duration:
        type: integer
    segments:
     type: array
     description: Список найденных рейсов
     items:
      $ref: '#/components/schemas/Segment'
  Pagination:
   type: object
   properties:
    total:
     type: integer
    limit:
     type: integer
    offset:
     type: integer
  Station:
    type: object
    properties:
     type:
      type: string
     title:
      type: string
     short_title:
      type: string
     popular_title:
      type: string
     code:
      type: string
     lat:
      type: number
     lng:
      type: number
     station_type:
      type: string
     station_type_name:
      type: string
     transport_type:
      type: string
     distance:
      type: number
     majority:
      type: integer
     direction:
      type: string
     codes:
      type: object
      properties:
       yandex_code:
        type: string
       esr_code:
        type: string
     type_choices:
      $ref: '#/components/schemas/Schedule'
  Schedule:
   type: object
   properties:
    except_days:
     type: string
     description: Дни, когда рейс не выполняется
    arrival:
     type: string
     description: Время прибытия в формате HH:mm
    departure:
     type: string
     description: Время отправления в формате HH:mm
    thread:
     $ref: '#/components/schemas/Thread'
    days:
     type: string
     description: Дни курсирования рейса
    stops:
     type: string
     description: Остановки на маршруте
    terminal:
     type: string
    platform:
     type: string
  Thread:
     type: object
     properties:
      uid:
       type: string
      interval:
       $ref: '#/components/schemas/Interval'
      carrier:
       $ref: '#/components/schemas/Carrier'
  Segment:
     type: object
     properties:
      arrival:
       type: string
      from:
       $ref: '#/components/schemas/Station'
      thread:
       $ref: '#/components/schemas/Thread'
      departure:
       type: string
      departure_terminal:
       type: string
      stops:
       type: string
      to:
       $ref: '#/components/schemas/Station'
      has_transfers:
       type: boolean
      duration:
       type: integer
      arrival_terminal:
       type: string
      start_date:
       type: string
  Carrier:
     type: object
     properties:
      code:
       type: integer
      contacts:
       type: string
      url:
       type: string
      logo_svg:
       type: string
      title:
       type: string
      phone:
       type: string
      address:
       type: string
      logo:
       type: string
      email:
       type: string
  ScheduleResponse:
     type: object
     properties:
      date:
       type: string
      pagination:
       $ref: '#/components/schemas/Pagination'
      station:
        $ref: '#/components/schemas/Station'
      schedule:
       type: array
       items:
        $ref: '#/components/schemas/Schedule'
      interval_schedule:
       type: array
       items:
        $ref: '#/components/schemas/IntervalSchedule'
      directions:
       type: array
       items:
        $ref: '#/components/schemas/Directions'
      schedule_direction:
       $ref: '#/components/schemas/Directions'
  IntervalSchedule:
      type: object
      properties:
       except_days:
        type: string
       thread:
        $ref: '#/components/schemas/Thread'
       interval:
        type: object
        properties:
         density:
          type: string
         begin_time:
          type: string
          format: date-time
         end_time:
          type: string
          format: date-time
  Directions:
   type: object
   properties:
    code:
     type: string
    title:
     type: string
  ThreadStationsResponse:
   type: object
   properties:
      title:
       type: string
      uid:
       type: string
      from:
       $ref: '#/components/schemas/Station'
      to:
       $ref: '#/components/schemas/Station'
      days:
       type: string
      stops:
       type: array
       items:
        $ref: '#/components/schemas/Stop'
      interval:
       $ref: '#/components/schemas/Interval'
  Stop:
     type: object
     properties:
      arrival:
       type: string
      departure:
       type: string
      stop_time:
       type: integer
      duration:
       type: integer
      station:
       $ref: '#/components/schemas/Station'
  Interval:
   type: object
   properties:
    density:
     type: string
    begin_time:
     type: string
     format: date-time
    end_time:
     type: string
     format: date-time
  StationsResponse:
   type: object
   properties:
    pagination:
     $ref: '#/components/schemas/Pagination'
    stations:
     type: array
     items:
      $ref: '#/components/schemas/Station'
  NearestCityResponse:
   type: object
   properties:
    distance:
     type: number
    code:
     type: string
    title:
     type: string
    popular_title:
     type: string
    lat:
     type: number
    lng:
     type: number
  CarrierResponse:
   type: object
   properties:
    carrier:
     $ref: '#/components/schemas/Carrier'
  AllStationsResponse:
   type: object
   properties:
    countries:
     type: array
     items:
      $ref: '#/components/schemas/Country'
  Country:
   type: object
   properties:
    title:
     type: string
    codes:
     type: object
     properties:
      yandex_code:
       type: string
    regions:
     type: array
     items:
      $ref: '#/components/schemas/Region'
  Region:
   type: object
   properties:
    title:
     type: string
    codes:
     type: object
     properties:
      yandex_code:
       type: string
    settlements:
     type: array
     items:
      $ref: '#/components/schemas/Settlement'
  Settlement:
   type: object
   properties:
    title:
     type: string
    codes:
     type: object
     properties:
      yandex_code:
       type: string
    stations:
     type: array
     items:
      $ref: '#/components/schemas/Station'
  CopyrightResponse:
     type: object
     properties:
      copyright:
       $ref: '#/components/schemas/Copyright'
  Copyright:
     type: object
     properties:
      logo_vm:
       type: string
      url:
       type: string
      logo_vd:
       type: string
      logo_hy:
       type: string
      logo_hd:
       type: string
      logo_vy:
       type: string
      text:
       type: string
      logo_hm:
       type: string
